[Unit]
Description=Restart serial console
Wants=network-online.target
After=launch-aicert-server.service

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl restart serial-getty@ttyS0

[Install]
WantedBy=multi-user.target