apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: chat-example-server-cert
spec:
  secretName: chat-example-server-cert
  issuerRef:
    name: google-public-ca
    kind: Issuer
  commonName: ###ZARF_VAR_HOSTNAME###
  duration: 144h # 6d
  usages:
    - digital signature
  dnsNames:
    - ###ZARF_VAR_HOSTNAME###
  privateKey:
    algorithm: ECDSA
    size: 384
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: chat-ingress-route-insecure
spec:  
  entryPoints:
    - web

  routes:
    - match: Host(`###ZARF_VAR_HOSTNAME###`)
      kind: Rule
      middlewares:
        - name: redirect-https-middleware
      services:
        - name: librechat-librechat
          port: 3080
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: chat-ingress-route
spec:
  entryPoints:
    - websecure

  routes:
    - match: Host(`###ZARF_VAR_HOSTNAME###`)
      kind: Rule
      middlewares:
        - name: security-headers-middleware
      services:
        - name: librechat-librechat
          port: 3080
  tls:
    secretName: chat-example-server-cert
    options:
      name: tlsoptions