name: Deploy infrastructure for the demo

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

env:
  VERSION: 0.1.0
  ZONE_NAME: demo.mithrilsecurity.io
jobs:
  test:
    runs-on: fluorite-runner
    timeout-minutes: 60
    env:
      PACKAGE: ray
      # We use job_id from matrix instead of github.job to stay consistent
      AZURE_CONFIG_DIR: /home/ubuntu/.azure-gha-${{ github.run_id }}-${{ github.run_attempt }}-${{ strategy.job-index }}
      JOB_NAME: chat
      ATTESTATION_BACKEND: SvsmVtpm
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set Hostname and create Job dir
        run: |
          echo "HOSTNAME=${{ env.JOB_NAME }}.${{ env.ZONE_NAME }}" >> $GITHUB_ENV
          mkdir -p "${{ github.workspace }}/${{ github.run_id }}-${{ github.run_attempt }}/${{ env.JOB_NAME }}"
          echo "DIR=${{ github.workspace }}/${{ github.run_id }}-${{ github.run_attempt }}/${{ env.JOB_NAME }}" >> $GITHUB_ENV

      - name: Inject variables in the job environment
        run: |
          # Create package dir
          mkdir ${{ env.DIR }}/packages

          # Get the provisioning package
          PACKAGE_NAME="zarf-package-${{ env.PACKAGE }}-amd64-0.1.0.tar.zst"
          PACKAGE_URL="https://storage.googleapis.com/fluorite/provisioning-bundles/${{ env.PACKAGE }}/${{ env.VERSION }}/$PACKAGE_NAME"
          PACKAGE_PATH="${{ env.DIR }}/packages/$PACKAGE_NAME"

          curl $PACKAGE_URL -o $PACKAGE_PATH

          echo "PACKAGE_PATH=$PACKAGE_PATH" >> $GITHUB_ENV

          # Compute the hash of the provisioning package
          BUNDLE_HASH=$(sha256sum $PACKAGE_PATH | awk '{print $1}')
          echo "BUNDLE_HASH=$BUNDLE_HASH" >> $GITHUB_ENV

          echo "PACKAGE_URL=$PACKAGE_URL" >> $GITHUB_ENV

          # Generated by the operator with `./binaries/fluorite generate-certificates --cert-directory-path ./operator/certificates`
          mkdir -p ${{ env.DIR }}/certificates/
          OPERATOR_CERTIFICATE_PATH="${{ env.DIR }}/certificates/cert.pem"
          echo "OPERATOR_CERTIFICATE_PATH=$OPERATOR_CERTIFICATE_PATH" >> $GITHUB_ENV

          cat << EOF > $OPERATOR_CERTIFICATE_PATH
          -----BEGIN CERTIFICATE-----
          MIIBejCCASCgAwIBAgIUN1gsEzwPD5/Cub1dyjNQ/TdUPFYwCgYIKoZIzj0EAwIw
          ITEfMB0GA1UEAwwWcmNnZW4gc2VsZiBzaWduZWQgY2VydDAgFw03NTAxMDEwMDAw
          MDBaGA80MDk2MDEwMTAwMDAwMFowITEfMB0GA1UEAwwWcmNnZW4gc2VsZiBzaWdu
          ZWQgY2VydDBZMBMGByqGSM49AgEGCCqGSM49AwEHA0IABL2kPGMwc0uiQFVmlIGf
          IGAvxnC6apIQMo7eCeqDBDnJSN2f6xBiVN75HPQHGhl9YB1PfwixB3OSoVMdWhs7
          EvOjNDAyMDAGA1UdEQQpMCeCJU1JVEhSSUxPUyBLM1MgQk9PVFNUUkFQIE9QRVJB
          VE9SIENFUlQwCgYIKoZIzj0EAwIDSAAwRQIhAI/R6kKIk4aXJV6Dakfg3TL40uqU
          VgVNN0GPih/BHoWsAiAlcLT8mLXtkatM76wB7R+PVI87pA288xwGgHJGLCArMg==
          -----END CERTIFICATE-----
          EOF

          # Get the OS Disk information
          VERSION_FORMATTED="${VERSION//./-}"
          MEASUREMENT_URL="https://storage.googleapis.com/fluorite/${{ env.VERSION }}/fluorite-os/baremetal-amd-sev/os-measurement.json"
          OS_DISK_URL="https://storage.googleapis.com/fluorite/${{ env.VERSION }}/fluorite-os/baremetal-amd-sev/disk.raw"

          # Get the latest FluoriteOS image published and it's PCR4 Golden Value
          OS_MEASUREMENT=$(curl $MEASUREMENT_URL | jq -r .fluoriteos_pcr4)
          echo "OS_MEASUREMENT=$OS_MEASUREMENT" >> $GITHUB_ENV
          echo "OS_DISK_URL=$OS_DISK_URL" >> $GITHUB_ENV

          PLATFORM_MEASUREMENTS_PATH="./measurements/measurements_qemu_svsm.json"
          echo "PLATFORM_MEASUREMENTS_PATH=$PLATFORM_MEASUREMENTS_PATH" >> $GITHUB_ENV

          # Generated by the operator with `openssl rand -hex 32`
          ATS_PASSWORD=${{ secrets.DEMO_ATS_PASSWORD }}
          echo "ATS_PASSWORD=$ATS_PASSWORD" >> $GITHUB_ENV

          OPERATOR_CERTIFICATE_B64=$(base64 -w0 $OPERATOR_CERTIFICATE_PATH)
          echo "OPERATOR_CERTIFICATE_B64=$OPERATOR_CERTIFICATE_B64" >> $GITHUB_ENV

          ATS_CONTAINER_APP_NAME="ats-app-${{ env.JOB_NAME }}"
          echo "ATS_CONTAINER_APP_NAME=$ATS_CONTAINER_APP_NAME" >> $GITHUB_ENV

          ATS_CONTAINER_APP_ENVIRONMENT="ats-env-${{ env.JOB_NAME }}"
          echo "ATS_CONTAINER_APP_ENVIRONMENT=$ATS_CONTAINER_APP_ENVIRONMENT" >> $GITHUB_ENV

          DOMAIN_MONITOR_CONTAINER_APP_NAME="dom-mon-app-${{ env.JOB_NAME }}"
          echo "DOMAIN_MONITOR_CONTAINER_APP_NAME=$DOMAIN_MONITOR_CONTAINER_APP_NAME" >> $GITHUB_ENV

          DOMAIN_MONITOR_CONTAINER_APP_ENVIRONMENT="dom-mon-env-${{ env.JOB_NAME }}"
          echo "DOMAIN_MONITOR_CONTAINER_APP_ENVIRONMENT=$DOMAIN_MONITOR_CONTAINER_APP_ENVIRONMENT" >> $GITHUB_ENV

          BLOB_STORAGE_URL="https://proofs.demo.mithrilsecurity.io/"
          echo "BLOB_STORAGE_URL=$BLOB_STORAGE_URL" >> $GITHUB_ENV

          RESOURCE_GROUP="ivan-fli-multinode"
          echo "RESOURCE_GROUP=$RESOURCE_GROUP" >> $GITHUB_ENV

      - name: Azure login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Build and deploy Attestation Transparency Service Container App
        uses: azure/container-apps-deploy-action@v2
        with:
          imageToDeploy: fluorite.azurecr.io/attestation-transparency-service:${{ env.VERSION }}
          containerAppName: ${{ env.ATS_CONTAINER_APP_NAME }}
          containerAppEnvironment: ${{ env.ATS_CONTAINER_APP_ENVIRONMENT }}
          resourceGroup: ${{ env.RESOURCE_GROUP }}
          location: francecentral
          ingress: external
          targetPort: 8000
          disableTelemetry: true

      - name: Build and deploy domain-monitor Container App
        uses: azure/container-apps-deploy-action@v2
        with:
          imageToDeploy: fluorite.azurecr.io/domain-monitor:${{ env.VERSION }}
          containerAppName: ${{ env.DOMAIN_MONITOR_CONTAINER_APP_NAME }}
          containerAppEnvironment: ${{ env.DOMAIN_MONITOR_CONTAINER_APP_ENVIRONMENT }}
          resourceGroup: ${{ env.RESOURCE_GROUP }}
          location: francecentral
          ingress: external
          targetPort: 8000
          disableTelemetry: true

      - name: Setup attestation-transparency and domain-monitor services

        uses: azure/cli@v2
        with:
          azcliversion: latest
          inlineScript: |
            set -euo pipefail

            # Shared
            RESOURCE_GROUP="${{ env.RESOURCE_GROUP }}"
            ZONE_NAME="${{ env.ZONE_NAME }}"

            # Setup attestation-transparency
            CONTAINER_APP="${{ env.ATS_CONTAINER_APP_NAME }}"
            CONTAINER_APP_ENV="${{ env.ATS_CONTAINER_APP_ENVIRONMENT }}"
            A_RECORD_NAME="ats.${{ env.JOB_NAME }}"

            # Assign attestation-transparency-service-identity to Container App
            # This is needed because the container needs permission to write to Azure Blob Storage
            az containerapp identity assign \
              --name $CONTAINER_APP \
              --resource-group $RESOURCE_GROUP \
              --user-assigned attestation-transparency-service-identity

            # Set environment variables

            # Set environment variables
            az containerapp update \
              --name $CONTAINER_APP \
              --resource-group $RESOURCE_GROUP \
              --set-env-vars \
              PORT="8000" \
              ATTESTATION_BACKEND="${{ env.ATTESTATION_BACKEND }}" \
              PASSWORD="${{ env.ATS_PASSWORD }}" \
              OPERATOR_CERTIFICATE_B64="${{ env.OPERATOR_CERTIFICATE_B64 }}" \
              BUNDLE_HASH="${{ env.BUNDLE_HASH }}" \
              OS_MEASUREMENT="${{ env.OS_MEASUREMENT }}" \
              RESOURCE_GROUP_NAME="${{ env.RESOURCE_GROUP }}" \
              ATTESTATION_STORAGE_ACCOUNT_NAME="attestationproofs" \
              STORAGE_URL="${{ env.BLOB_STORAGE_URL }}" \
              AZURE_SUBSCRIPTION_ID="${{ secrets.AZURE_SUBSCRIPTION_ID }}" \
              IDENTITY_RESOURCE_ID="/subscriptions/${{ secrets.AZURE_SUBSCRIPTION_ID }}/resourceGroups/${{ env.RESOURCE_GROUP }}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/attestation-transparency-service-identity" \
              PLATFORM_MEASUREMENTS_PATH="${{ env.PLATFORM_MEASUREMENTS_PATH }}" 

            ./scripts/setup-containerapp.sh $RESOURCE_GROUP $CONTAINER_APP $CONTAINER_APP_ENV $ZONE_NAME $A_RECORD_NAME & 

            # Setup domain-monitor
            CONTAINER_APP="${{ env.DOMAIN_MONITOR_CONTAINER_APP_NAME }}"
            CONTAINER_APP_ENV="${{ env.DOMAIN_MONITOR_CONTAINER_APP_ENVIRONMENT }}"
            A_RECORD_NAME="domainmonitor.${{ env.JOB_NAME }}"

            # Set environment variables
            az containerapp update \
              --name $CONTAINER_APP \
              --resource-group $RESOURCE_GROUP \
              --set-env-vars \
              PORT="8000" \
              ATTESTATION_BACKEND="${{ env.ATTESTATION_BACKEND }}" \
              OPERATOR_CERTIFICATE_B64="${{ env.OPERATOR_CERTIFICATE_B64 }}" \
              BUNDLE_HASH="${{ env.BUNDLE_HASH }}" \
              OS_MEASUREMENT="${{ env.OS_MEASUREMENT }}" \
              STORAGE_URL="${{ env.BLOB_STORAGE_URL }}" \
              PLATFORM_MEASUREMENTS_PATH="${{ env.PLATFORM_MEASUREMENTS_PATH }}" \
              OS_DISK_URL="${{ env.OS_DISK_URL }}" \
              PROVISIONING_PACKAGE_URL="${{ env.PACKAGE_URL }}" 

            ./scripts/setup-containerapp.sh $RESOURCE_GROUP $CONTAINER_APP $CONTAINER_APP_ENV $ZONE_NAME $A_RECORD_NAME & 

            wait